html {
  --white: rgba(229, 229, 229, 1);
  --grey: rgba(213, 213, 213, 1);
  --dark: rgba(33, 11, 44, 1);
  --medium: rgba(85, 40, 111, 1);
  --light: rgba(188, 150, 230, 1);
}

html.dark {
  --white: rgba(33, 11, 44, 1);
  --grey: rgba(213, 213, 213, 1);
  --dark: rgba(229, 229, 229, 1);
  --medium: rgba(188, 150, 230, 1);
  --light: rgba(85, 40, 111, 1);
}
